#Autosave files
*~

#build
[Oo]bj/
[Bb]in/
packages/
TestResults/

# globs
Makefile.in
*.DS_Store
*.sln.cache
*.suo
*.cache
*.pidb
*.userprefs
*.usertasks
config.log
config.make
config.status
aclocal.m4
install-sh
autom4te.cache/
*.user
*.tar.gz
tarballs/
test-results/
Thumbs.db

#Mac bundle stuff
*.dmg
*.app

#resharper
*_Resharper.*
*.Resharper

#dotCover
*.dotCover
Test/Program.cs
Test/Properties/AssemblyInfo.cs
Test/Test.csproj
TrafficManager_ImprovedAI/clone prefab.txt
TrafficManager_ImprovedAI.sln
TrafficManager_ImprovedAI/TrafficManager_ImprovedAI.csproj
